<div style="text-align: center">
  <%= form_tag search_index_path, :method => "get" do %>

      <%= search_field_tag :search, params[:search], :placeholder => "Search ISBN", :results => 0 %>
      <%= button_tag "Search", :type => 'submit', class: "btn btn-primary" %>

  <% end %>
</div>

<%= @res %>




