<h2>Welcome to Gremlin Books... where it is our goal to save you the most on your college text books. </h2>

<p>Click <%= link_to "Sign Up", new_user_registration_path %> to register. </p>

<p>If you're already a registered user, click  <%= link_to "Sign In", new_user_session_path %>     </p>





