<br>
<div>
  <p class="text-center"><%= image_tag(current_tenant.logo) %></p>

  <h4><p class="text-center">Textbooks are really expensive...we can help!!</p></h4>
  <h5><p class="text-center">It's fast, it's free, it's awesome.</p></h5>
  <p class="text-center"><%= link_to "Buy", search_index_path, :class => "btn btn-primary btn-large custom_button_size" %>
    <%= link_to "Sell", current_tenant.sell_books_url, :class => "btn btn-inverse btn-large custom_button_size", :target => "_blank" %>
  </p>
</div>

















