<h2>Textbooks are really expensive...we can help!! </h2>
<p>Paying too much for textbooks is no fun, and neither is standing in a long line, waiting to pay too much for them!
  That's where we can help. Our free service, will search the web to bring you the best deals from your favorite sources
  across the web. The whole process will take less then 10 minutes and you won't even have to leave your seat. You will
  save tons of money and time... what a way to start the semester! If only we could take your test for you...maybe in
  the next release? Probably not.</p>





<h2>So why use us?</h2>
<p>I am so glad you asked. We went through college and grad school, and buying textbooks was about as much fun as
  cleaning up after your dog... so we want to make this service fast and easy, so we look at over fifty different sites
  so you don't have to. Also, we are partnering with literacy groups around the country to promote reading among young
  children. So every time some one uses our service, we are going to make a donation to this cause. Wow, saving money,
  time, and helping young kids read. You really might have super powers!!</p>
<br>
<p>Click <%= link_to "Sign Up", new_user_registration_path %> to register. </p>

<p>If you're already a registered user, click  <%= link_to "Sign In", new_user_session_path %>     </p>






