

<h2>Our Mission</h2>
<p>Although textbooks are expensive and heavy, they hold a unique strength... the ability to gain knowledge through
  reading. One of the driving forces behind our program is to be able to provide an avenue where we can help those who
  do not yet share this ability. Reading is a fundamental and foundational skill that can change the course of a person,
  family, community, and possibly even further. So we pledge to make donations, monetarily and otherwise to existing
  organizations that are already doing great work in this area.</p>






