
  <footer id="footer">
    <%= current_tenant.title %> &copy 2013 &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:help@gremlinbooks.com">Need help?</a> &nbsp;&nbsp;&nbsp; Powered by Gremlinbooks.com
  </footer>




