
  <footer id="footer">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <div class="links">
      <%= link_to "Home", root_path %>
      <%= link_to "Search", search_index_path %>
      <%= link_to "Mission", pages_mission_path %>
      <%= link_to "Contact Us", new_contact_path %>
    </div>
    GremlinBooks, LLC &copy 2013
  </footer>

