<% if !notice.nil? %>
    <div class="container">
      <p class="alert alert-info"><%= notice %></p>
    </div>
<% end %>

<% if !alert.nil? %>
    <div class="container">
      <p class="alert alert-block "><%= alert %></p>
    </div>
<% end %>